@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@font-face {
  font-family: nasalization;
  src: url("./nasalization-rg.otf");
}

* {
  margin: 0;
  padding: 0;
  font-family: nasalization;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: white;
}

button,
a,
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.logo{
  aspect-ratio: 4/1;
}

input, textarea, select{
  @apply bg-white dark:bg-gray-800/60 text-black dark:text-white py-3
}

.bar {
  position: fixed;
  width: 100%;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  z-index: 3990;
}

.prompt {
  z-index: 543345;
  @apply left-1/2 top-1/2 fixed -translate-x-1/2 -translate-y-1/2 h-screen w-full md:h-fit md:w-fit p-8 bg-white dark:bg-slate-900 rounded flex items-center justify-center
}


.menu {
  @apply transition-all duration-1000 ease-in-out fixed w-100% h-fit py-3 bg-white dark:bg-slate-800 z-50
}

/* .spanBefore::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 100%;
  height: 3px;
  background-color: #6366f1;
} */

.desktop-nav nav ul li {
  position: relative;
}
 
.summary-p{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 75px;
}

.mobile-nav ion-icon {
  font-size: 1.3em;
}

.header {
  position: relative;
  margin-bottom: 50px;
  height: fit-content;
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 100;
}

.componentsGrid::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 40%;
  filter: blur(130px);
  background: #291d89;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-filter: blur(130px);
}

.comp {
  cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
    auto;
}

.comp:nth-child(6) {
  background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
  color: white;
}

.cards{
  position: relative;
  overflow: hidden;
}

.cards::before{
  content: "";
  position: absolute;
  left: 5%;
  top: -25%;
  height: 750px;
  width: 500px;
  max-width: 40%;
  background-color: #fff;
  border-radius: 0 0 300px 300px;
  transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  -webkit-border-radius: 0 0 300px 300px;
  -moz-border-radius: 0 0 300px 300px;
  -ms-border-radius: 0 0 300px 300px;
  -o-border-radius: 0 0 300px 300px;
}

.cards::after{
  content: "";
  position: absolute;
  right: 5%;
  bottom: -25%;
  height: 750px;
  width: 500px;
  max-width: 40%;
  background-color: #4e67eb;
  border-radius: 300px 300px 0 0;
  transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  -webkit-border-radius: 300px 300px 0 0;
  -moz-border-radius: 300px 300px 0 0;
  -ms-border-radius: 300px 300px 0 0;
  -o-border-radius: 300px 300px 0 0;
}

.px-4 ion-icon {
  font-size: 1.2em;
}

ion-icon {
  font-size: 1.6em;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f2f3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

.wishList-table::-webkit-scrollbar-track {
background: transparent;
}

.wishList-table::-webkit-slider-thumb {
  background: transparent;
  }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6366f1;
}

.desktop-nav{
  display: flex;
}

.mobile-nav{
  display: none;
}

@media (max-width: 992px) {
  .desktop-nav{
    display: none;
  }
  
  .mobile-nav{
    display: flex;
  }
}